body {
    background: url(../app/img/space1.jpg);
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.enemyContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
